<html lang="en"> 
  <head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="js/closure-library/closure/goog/base.js"></script>
    {% block js %}{% endblock %}
    <link rel="stylesheet" href="css/main.css">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div id="header">{% block header %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>
