{% extends "html/base.html" %}

{% block title %}Hobby Selector{% endblock %}

{% block js %}
  <script type="text/javascript" src="js/autocomplete.js"></script>
  <script type="text/javascript" src="js/map.js"></script>
  <script type="text/javascript" src="js/home.js"></script>
  <script type="text/javascript" src="js/questions.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEaNXNu3ivl56A5Wy0l0DLgnrJKWXmP48&sensor=false"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="css/autocomplete.css">
{% endblock %}

{% block content %}

  <div class='page-header'>Welcome to the Intelligent Hobby Selector</div>

  <div class='content four-pane'>
    <div class='left'>
      <div id='top'>
        <div id='label'>
          What do you do for fun?
        </div>
        <div id='answer-area'>
          <textarea id='txtarea' rows=5 cols=40></textarea>
          <div id='txtarea-sb' class='autocomplete'></div>
        </div>
        <script type="text/javascript">
          {% autoescape true %}
            hs.autocomplete({{ activities|safe }}, 'txtarea');
          {% endautoescape %}
        </script>
        <div class='button' id='select-activity'>
        Go
        </div> 
      </div>
      <div id='bottom'>
        <div id='label'>
          Activities you may like.
        </div>
        <div id="answer-area" style="text-align: left;">
          <div style="overflow: auto; width: 300px;">
            <div style="float: left; width: 150px; height: 50px; padding: 5px 0; overflow: auto;" onclick="hs.questions.getQuestions('Outdoor', 'tag');"> 
              <img alt="outdoor" src="/img/anchor.png" style="float: left;">
              <div style="float: right; padding: 17px 15px 0px;">Outdoor</div>
            </div>
            <div style="float: left; width: 150px; height: 50px; padding: 5px 0; overflow: auto;" onclick="hs.questions.getQuestions('Social', 'tag');">
              <img alt="social" src="/img/social.png" style="float: left;">
              <div style="float: right; padding: 17px 15px 0px;">Social</div>
            </div>
            <div style="float: left; width: 150px; height: 50px; padding: 5px 0; overflow: auto;" onclick="hs.questions.getQuestions('Sports', 'tag');">
              <img alt="hourglass" src="/img/hourglass.png" style="float: left;">
              <div style="float: right; padding: 17px 15px 0px;">Sports</div>
            </div>
            <div style="float: left; width: 150px; height: 50px; padding: 5px 0; overflow: auto;" onclick="hs.questions.getQuestions('Art', 'tag');">
              <img alt="brush" src="/img/brush.png" style="float: left;">
              <div style="float: right; padding: 17px 15px 0px;">Art</div>
            </div>
            <div style="float: left; width: 150px; height: 50px; padding: 5px 0; overflow: auto;" onclick="hs.questions.getQuestions('Cinema', 'tag');">
              <img alt="video" src="/img/video.png" style="float: left;">
              <div style="float: right; padding: 17px 15px 0px;">Cinema</div>
            </div>
            <div style="float: left; width: 150px; height: 50px; padding: 5px 0; overflow: auto;" onclick="hs.questions.getQuestions('Music', 'tag');">
              <img alt="music" src="/img/music.png" style="float: left;">
              <div style="float: right; padding: 17px 15px 0px;">Music</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='right'>
      <div id='top'>
        <div id='label'>
          Activities popular in your area.
        </div>
        <div id='answer-area'>
          <div id="suggested-activies" style="height: auto;">
          {% for activity in activity_list %}
            <span onclick="javascript: hs.questions.getQuestions('{{ activity }}', 'activity');" >{{ activity }}</span>&nbsp;&nbsp;
          {% endfor %}
          </div>
        </div>
      </div>
      <div id='bottom' class='text-align-center'>
        <div id='map-label'>
        You are here - College Station, TX
        </div>
        <div id='map'></div>
        <script type="text/javascript">
          hs.map(30.6014, -96.3144);
        </script>
      </div>
      <div class='button'>
        No Match Found?
      </div> 
    </div>
  </div>
  <script type="text/javascript">
    hs.home();
  </script>
  <div class='display-none'>
    <form method='post' id='dummy-form'>
      <input type='hidden' name='dummy-values' id='dummy-values'></input>
      <input type='hidden' name='dummy-activity-type' id='dummy-activity-type'></input>
    </form>
  </div>
{% endblock %}
