{% extends "html/base.html" %}
{% block title %}Questions and Answers{% endblock %}

{% block head %}
  {{ super() }}
  <style>
  </style>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="js/home.js"></script>
  <script type="text/javascript" src="js/questions.js"></script>
{% endblock %}

{% block header %}
  {% include 'html/header.html' %}
{% endblock %}

{% block content %}
  <div class='content'>
  <form method="post" action="questions">
    <div class='left'>
      <div id='top'>
        <div id='label'>
          Tell us more about yourself?
        </div>
        {% for question in questions %}
          <div class='questions'>
            <div id='question'>
              {{ question }}
            </div>
            <div>
              <input type='radio' name='{{ question }}' value="yes">Yes</input>
              <input type='radio' name='{{ question }}' value="no">No</input>
              <input type='radio' name='{{ question }}' value="may be">May be</input>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id='button' onclick="submit();">
        Ask me something else
      </div>
    </div>
    <div class='right'>
      <div id='top'>
        <div id='map-label'>
          We think you may like these:
        </div>
        <div id='map'>
          <div style="float: left; padding: 10px 44px;">Football</div>
          <div id="small-button" onclick="hs.home.upvote('activity-voting');" >Up vote</div>
          <div id="small-button" onclick="hs.home.downvote('activity-voting');" >Down vote</div>
          <input type="hidden" value=0 name="activity-voting">
        </div>
      </div>
    </div>
  </form>
  </div>
{% endblock %}

{% block footer %}
  {% include 'html/footer.html' %}
{% endblock %}
